<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Genres</title>
    <style type="text/css">
        .tableGenres, .tableGenres td {
            border: 1px solid lightgray;
            padding: 5px;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .createNewGenreBtn {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .createGenreForm {
            padding-bottom: 5px;
            display: none;
        }
    </style>

    <script>
        function openCreateNewGenreForm() {
            document.getElementsByClassName('createGenreForm')[0].style['margin-top']='5px';
            document.getElementsByClassName('createGenreForm')[0].style['display']='block';
        }
    </script>
</head>

<body>
    <div>
        <div>List of genres</div>
        <div>
            <button class="createNewGenreBtn" onclick="openCreateNewGenreForm()">Add new genre</button>
            <form class="createGenreForm">
                <label>Genre name
                    <input value=""/>
                </label>

                <button class="saveNewGenre" onclick="console.log('Save new genre')">Save</button>
            </form>
        </div>

        <table class="tableGenres">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="genre : ${genres}">
                <td th:text="${genre.id}">1</td>
                <td th:text="${genre.name}">Book title</td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>