<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Add new genre</title>
    <style type="text/css">
        body {
            padding: 20px;
        }

        .font-larger {
            font-size: larger;
        }

        .addGenreForm {
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div class="font-larger">Adding new genre</div>
    <form class="addGenreForm" th:action="@{/library/genres/saveNewGenre}" method="post" th:object="${genre}">
        <label class="font-larger">Genre name</label>
        <input type="text" th:field="*{name}"/>
        <button class="saveNewGenre" type="submit" style="font-size: medium;">Add</button>
    </form>
</body>
</html>