<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Genres</title>
    <style type="text/css">
        .addGenreForm {
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div>Adding new genre</div>
    <div>
        <form class="addGenreForm" action="#" th:action="@{/library/genres/saveNewGenre}" method="post" th:object="${genre}">
            <label>Genre name</label>
            <input type="text" th:field="*{name}"/>
            <button class="saveNewGenre" type="submit">Add</button>
        </form>
    </div>
</body>
</html>