<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <beans>
        <bean id="questions" class="ru.koshkarovvitaliy.model.Questions">
            <constructor-arg name="classPath" type="String" value="/quiz/questions.csv"/>
        </bean>

        <bean id="answers" class="ru.koshkarovvitaliy.model.Answers">
            <constructor-arg name="classPath" type="String" value="/quiz/answers.csv"/>
        </bean>

        <bean id="quizService" class="ru.koshkarovvitaliy.service.QuizService"/>
    </beans>

</beans>