<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <beans>
        <bean id="user" name="user" class="ru.koshkarovvitaliy.User">
            <constructor-arg name="name" type="String" value="Jonh"/>
            <constructor-arg name="age" type="int" value="18"/>
        </bean>
    </beans>

</beans>