<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Authors</title>
    <style type="text/css">
        .authors, .authors td {
            border: 1px solid lightgray;
            padding: 5px;
            text-align: center;
        }
    </style>
</head>

<body>
<div>
    <p>List of authors</p>
    <table class="authors" cellpadding="6" cellspacing="4">
        <thead>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="author : ${authors}">
            <td th:text="${author.id}">1</td>
            <td th:text="${author.firstName}">First name</td>
            <td th:text="${author.lastName}">Last name</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>