<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Authors</title>
    <style>
        body {
            padding: 20px;
        }

        .header {
            font-size: larger;
            padding-bottom: 10px;
        }

        .createNewAuthorBtn {
            margin-bottom: 12px;
            font-size: medium;
        }

        .authorsTbl, .authorsTbl td {
            border: 1px solid lightgray;
            text-align: center;
            border-collapse: separate;
            border-spacing: 6px;
            font-size: large;
        }
    </style>
</head>

<body>
    <div class="header">Authors</div>

    <form th:method="get" th:action="@{/library/author/add-new-author}">
        <button class="createNewAuthorBtn">Add new author</button>
    </form>

    <table class="authorsTbl">
        <thead>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="author : ${authors}">
                <td th:text="${author.id}">1</td>
                <td th:text="${author.firstName}">First name</td>
                <td th:text="${author.lastName}">Last name</td>
            </tr>
        </tbody>
    </table>
</body>
</html>